.lawyers-button-parent {
display: flex;
align-items: center;
justify-content: center;
}

.lawyers-button {
    position: relative;
    bottom: 693px;
    font-family: Montserrat;
    color: white;
    left:260px;
    font-size: 25px;
    padding-left: 10px;
    background-color: black;
    color: white;
    border:black;
}