.lawyers-button-parent {
display: flex;
align-items: center;
justify-content: center;
}

.lawyers-button {
    position: relative;
    bottom: 623px;
    font-family: Montserrat;
    color: white;
    left:100px;
    font-size: 25px;
    padding-left: 10px;
    background-color: transparent;
    color: white;
    border:black;
    background: linear-gradient(to bottom, rgb(212,212,245), rgb(47, 164, 231));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}