.business-with-dock-opened-image {
    position: relative;
}

.business-with-dock-opened-parent {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    padding-top: 32px
}

