/* .tree-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tree-image {
    position: relative;
}

.tree-dock {
    display: flex;
    margin-bottom: 111px;
    padding-left: 53px;
} */
