.investments-button-parent {
    display: flex;
    align-items: center;
    justify-content: center;
    }
    
    .investments-button {
        position: relative;
        bottom: 892px;
        font-family: Montserrat;
        color: white;
        font-size: 25px;
        right: 152px;
        background-color: black;
        color: white;
        border:black;
        white-space: nowrap;
        background: linear-gradient(to bottom, rgb(212,212,245), rgb(47, 164, 231));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }