.drive-button-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.drive-button {
    width: 120px;
    font-family: Montserrat;
    font-size: 25px;
    padding-left: 20px;
    height: 45px;
    position: relative;
    right:  140px;
    bottom: 1884px;
    background-color: black;
    color: white;
    border:black;
    text-decoration: none;
}