.health-button-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.health-button {
    width: 121px;
    font-family: Montserrat;
    font-size: 25px;
    padding-left: 2px;
    height: 45px;
    position: relative;
    right:  757px;
    bottom: 1220px;
    background-color: black;
    color: white;
    border:black;
    background: linear-gradient(to bottom, rgb(212,212,245), rgb(47, 164, 231));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}