.social-media-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-media-button {
    width: 120px;
    font-family: Montserrat;
    font-size: 25px;
    padding-left: 2px;
    height: 45px;
    position: relative;
    left:  30px;
    bottom: 1250px;
    background-color: black;
    color: white;
    border:black;
    text-decoration: none;
    white-space: nowrap;
}