.templates-button-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.templates-button {
    width: 120px;
    font-family: Montserrat;
    font-size: 25px;
    padding-left: 20px;
    height: 45px;
    position: relative;
    left:  210px;
    bottom: 1414px;
    background-color: black;
    color: white;
    border:black;
    text-decoration: none;
}