.wall-one-button-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wall-one-button {
    width: 120px;
    font-family: Montserrat;
    font-size: 25px;
    padding-left: 20px;
    height: 45px;
    position: relative;
    left:  185px;
    bottom: 2038px;
    background-color: transparent;
    color: white;
    border:black;
    white-space: nowrap;
    background: linear-gradient(to bottom, rgb(212,212,245), rgb(47, 164, 231));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}