.consumer-image {
    top: 60px;
    position: relative;

}

.consumer-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}


.consumer-child {
    padding-top: 430px;
}
.consumer-dock-panel-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.consumer-dock-panel {
        width: 1507px;
        height: 76px;
        font-family: Montserrat;
        font-size: 23px;
        background-color: #000000;
        background-image: linear-gradient(0deg, #000000 0%, #414141 74%);
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: 1964px;
        background-color: black;
        color: white;
        border: black;
    } 

    .search-bar-parent {
        pointer-events: none;
    }

    .search-bar-png2 {
        width: 1507px;
        top:0px;
        padding-bottom: 158px;
    }

    .oea-text {
        font-family: Montserrat;
        font-size: 38px;
        bottom: -37px;
        position: absolute;
        left: 523px;
    }
.business-remaining-buttons-parent {
    display: flex;
}
.capex-button-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.capex-button {
    width: 100px;
    font-family: Montserrat;
    font-size: 25px;
    padding-left: 2px;
    height: 45px;
    position: relative;
    left:  1839px;
    bottom: 849px;
    background-color: black;
    color: white;
    border:black;
    text-decoration: none;
}
.labor-button-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.labor-button {
    width: 100px;
    font-family: Montserrat;
    font-size: 25px;
    padding-left: 2px;
    height: 45px;
    position: relative;
    left:  1189px;
    bottom: 849px;
    background-color: black;
    color: white;
    border:black;
    text-decoration: none;
}
.operations-button-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.operations-button {
    width: 100px;
    font-family: Montserrat;
    font-size: 25px;
    padding-left: 2px;
    height: 45px;
    position: relative;
    left:  1339px;
    bottom: 1364px;
    background-color: black;
    color: white;
    border:black;
    text-decoration: none;
}
.business-dashboard-button-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.business-dashboard-button {
    width: 100px;
    font-family: Montserrat;
    font-size: 25px;
    padding-left: 2px;
    height: 45px;
    position: relative;
    left:  1240px;
    bottom: 269px;
    background-color: black;
    color: white;
    border:black;
    text-decoration: none;
}
.business-goods-button-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.business-goods-button {
    width: 100px;
    font-family: Montserrat;
    font-size: 25px;
    padding-left: 2px;
    height: 45px;
    position: relative;
    left:  1100px;
    bottom: 674px;
    background-color: black;
    color: white;
    border:black;
    text-decoration: none;
}
.business-services-button-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.business-services-button {
    width: 100px;
    font-family: Montserrat;
    font-size: 25px;
    padding-left: 2px;
    height: 45px;
    bottom: 674px;
    position: relative;
    left: 1124px;
    background-color: black;
    color: white;
    border:black;
    text-decoration: none;
}
.business-tree-button-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.business-tree-button {
    width: 100px;
    font-family: Montserrat;
    font-size: 25px;
    padding-left: 2px;
    height: 45px;
    position: relative;
    left: 893px;
    bottom: 1752px;
    background-color: black;
    color: white;
    border:black;
    text-decoration: none;
    white-space: nowrap;
}
.remaining-buttons-parent {
    display: flex;
}
.business-applications-button-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.business-applications-button {
    width: 100px;
    font-family: Montserrat;
    font-size: 25px;
    padding-left: 2px;
    height: 45px;
    position: relative;
    left:  1410px;
    bottom: 1430px;
    background-color: black;
    color: white;
    border:black;
    text-decoration: none;
}
.business-projects-button-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.business-projects-button {
    width: 120px;
    font-family: Montserrat;
    font-size: 25px;
    padding-left: 2px;
    height: 45px;
    position: relative;
    left:500px;
    bottom: 1270px;
    background-color: black;
    color: white;
    border:black;
    text-decoration: none;
}
.business-templates-button-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.business-templates-button {
    width: 120px;
    font-family: Montserrat;
    font-size: 25px;
    padding-left: 20px;
    height: 45px;
    position: relative;
    left:  854px;
    bottom: 1265px;
    background-color: black;
    color: white;
    border:black;
    text-decoration: none;
}
.business-drive-button-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.business-drive-button {
    width: 120px;
    font-family: Montserrat;
    font-size: 25px;
    padding-left: 20px;
    height: 45px;
    position: relative;
    left:  1100px;
    bottom: 619px;
    background-color: black;
    color: white;
    border:black;
    text-decoration: none;
}
.business-network-one-button-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.business-network-one-button {
    width: 140px;
    font-family: Montserrat;
    font-size: 25px;
    padding-left: 2px;
    height: 45px;
    left: 638px;
    position: relative;
    bottom: 580px;
    background-color: black;
    color: white;
    border:black;
    white-space: nowrap;
}
.business-network-two-button-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.business-network-two-button {
    width: 120px;
    font-family: Montserrat;
    font-size: 25px;
    padding-left: 2px;
    height: 45px;
    position: relative;
    background-color: black;
    color: white;
    border:black;
    text-decoration: none;
    left: 544px;
    bottom: 432px;
    white-space: nowrap;
}
.business-wall-one-button-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.business-wall-one-button {
    width: 120px;
    font-family: Montserrat;
    font-size: 25px;
    padding-left: 20px;
    height: 45px;
    position: relative;
    right: 179px;
    bottom: 429px;
    background-color: black;
    color: white;
    border:black;
    text-decoration: none;
}
.business-wall-two-button-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.business-wall-two-button {
    width: 120px;
    font-family: Montserrat;
    font-size: 25px;
    padding-left: 20px;
    height: 45px;
    position: relative;
    right: 233px;
    bottom: 570px;
    background-color: black;
    color: white;
    border:black;
    text-decoration: none;
}
.business-social-media-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.business-social-media-button {
    width: 120px;
    font-family: Montserrat;
    font-size: 25px;
    padding-left: 2px;
    height: 45px;
    position: relative;
    right:  420px;
    bottom: 1114px;
    background-color: black;
    color: white;
    border:black;
    text-decoration: none;
    white-space: nowrap;
}
.business-analytics-button-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.business-analytics-button {
    width: 100px;
    font-family: Montserrat;
    font-size: 25px;
    padding-left: 2px;
    height: 45px;
    position: relative;
    left:  66px;
    bottom: 1120px;
    background-color: black;
    color: white;
    border:black;
    text-decoration: none;
}
.business-calendars-button-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.business-calendars-button {
    width: 100px;
    font-family: Montserrat;
    font-size: 25px;
    padding-left: 2px;
    height: 45px;
    position: relative;
    right:  908px;
    bottom:1440px;
    background-color: black;
    color: white;
    border:black;
    text-decoration: none;
}
.business-phone-button-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.business-phone-button {
    width: 100px;
    font-family: Montserrat;
    font-size: 25px;
    padding-left: 2px;
    height: 45px;
    position: relative;
    right:  900px;
    bottom:1020px;
    background-color: black;
    color: white;
    border:black;
    text-decoration: none;
}
.business-messages-button-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.business-messages-button {
    width: 100px;
    font-family: Montserrat;
    font-size: 25px;
    padding-left: 2px;
    height: 45px;
    position: relative;
    right:  1154px;
    bottom:1020px;
    background-color: black;
    color: white;
    border:black;
    text-decoration: none;
}
.business-research-button-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.business-research-button {
    width: 120px;
    font-family: Montserrat;
    font-size: 25px;
    padding-left: 2px;
    height: 45px;
    position: relative;
    right:  1228px;
    bottom: 623px;
    background-color: black;
    color: white;
    border:black;
    text-decoration: none;
}
.business-compose-button-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.business-compose-button {
    width: 100px;
    font-family: Montserrat;
    font-size: 25px;
    padding-left: 4px;
    height: 45px;
    position: relative;
    right:  289px;
    bottom: 1018px;
    background-color: black;
    color: white;
    border:black;
    text-decoration: none;
}
.business-mailbox-button-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.business-mailbox-button {
    width: 120px;
    font-family: Montserrat;
    font-size: 25px;
    padding-left: 2px;
    height: 45px;
    position: relative;
    right:  243px;
    bottom: 1018px;
    background-color: black;
    color: white;
    border:black;
    text-decoration: none;
}
.business-legal-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.business-legal-info {
    position: relative;
    bottom: 1620px;
    font-family: Montserrat;
    color: white;
    right: 1274px;
    font-size: 25px;
    padding-left: 10px;
    background-color: black;
    color: white;
    border:black;
    white-space: nowrap;
}
.business-lawyers-button-parent {
display: flex;
align-items: center;
justify-content: center;
}

.business-lawyers-button {
    position: relative;
    bottom: 1460px;
    font-family: Montserrat;
    color: white;
    right:1370px;
    font-size: 25px;
    padding-left: 10px;
    background-color: black;
    color: white;
    border:black;
}
.business-doctors-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.business-doctors-button {
    font-family: Montserrat;
    font-size: 25px;
    padding-left: 30px;
    position: relative;
    right: 1003px;
    bottom: 1468px;
    background-color: black;
    color: white;
    border:black;
}


.business-medical-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.business-medical-info {
    width: 168px;
    height: 45px;
    position: relative;
    font-family: Montserrat;
    font-size: 25px;
    right: 1093px;
    bottom: 1610px;
    background-color: black;
    color: white;
    border: black;
}
.business-financials-parent {
    display: flex;
}
.business-income-button-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.business-income-button {
    width: 100px;
    font-family: Montserrat;
    font-size: 25px;
    padding-left: 2px;
    height: 45px;
    position: relative;
    right:  1597px;
    bottom: 982px;
    background-color: black;
    color: white;
    border:black;
    text-decoration: none;
}
.business-balance-button-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.business-balance-button {
    width: 10px;
    font-family: Montserrat;
    font-size: 25px;
    padding-left: 2px;
    height: 45px;
    position: relative;
    right:  1627px;
    bottom: 1112px;
    background-color: black;
    color: white;
    border:black;
    text-decoration: none;
}
.business-flows-button-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.business-flows-button {
    width: 10px;
    font-family: Montserrat;
    font-size: 25px;
    padding-left: 2px;
    height: 45px;
    position: relative;
    right:  1557px;
    bottom: 982px;
    background-color: black;
    color: white;
    border:black;
    text-decoration: none;
}
.legal-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.legal-info {
    position: relative;
    bottom: 580px;
    font-family: Montserrat;
    color: white;
    left: 320px;
    font-size: 25px;
    padding-left: 10px;
    background-color: black;
    color: white;
    border:black;
}
.reviews-button-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.reviews-button {
    width: 120px;
    font-family: Montserrat;
    font-size: 25px;
    padding-left: 20px;
    height: 45px;
    position: relative;
    right: 276px;
    bottom: 1382px;
    background-color: black;
    color: white;
    border:black;
    text-decoration: none;
}
.news-button-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.news-button {
    width: 120px;
    font-family: Montserrat;
    font-size: 25px;
    padding-left: 20px;
    height: 45px;
    position: relative;
    left: 283px;
    bottom: 1450px;
    background-color: black;
    color: white;
    border:black;
    text-decoration: none;
}
.investments-button-parent {
    display: flex;
    align-items: center;
    justify-content: center;
    }
    
    .investments-button {
        position: relative;
        bottom: 957px;
        font-family: Montserrat;
        color: white;
        left: 9px;
        font-size: 25px;
        padding-left: 10px;
        background-color: black;
        color: white;
        border:black;
    }
.dashboard-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard-button {
    font-family: Montserrat;
    font-size: 25px;
    padding-left: 30px;
    position: relative;
    left: 1px;
    bottom: 2086px;
    background-color: black;
    color: white;
    border:black;
}


.goods-button-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.goods-button {
    width: 120px;
    font-family: Montserrat;
    font-size: 25px;
    padding-left: 20px;
    height: 45px;
    position: relative;
    right:  60px;
    bottom: 1723px;
    background-color: black;
    color: white;
    border:black;
    text-decoration: none;
}
.services-button-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.services-button {
    width: 10px;
    font-family: Montserrat;
    font-size: 25px;
    padding-left: 10px;
    height: 45px;
    position: relative;
    right: 34px;
    bottom: 1723px;
    background-color: black;
    color: white;
    border:black;
    text-decoration: none;
}
.messaging-buttons-parent {
    display: flex;
}
.mailbox-button-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mailbox-button {
    width: 120px;
    font-family: Montserrat;
    font-size: 25px;
    padding-left: 2px;
    height: 45px;
    position: relative;
    left:  121px;
    bottom: 1418px;
    background-color: black;
    color: white;
    border:black;
    text-decoration: none;
}
.compose-button-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.compose-button {
    width: 100px;
    font-family: Montserrat;
    font-size: 25px;
    padding-left: 4px;
    height: 45px;
    position: relative;
    left:  148px;
    bottom: 1418px;
    background-color: black;
    color: white;
    border:black;
    text-decoration: none;
}
.consumer-financials-parent {
    display: flex;
}
.income-button-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.income-button {
    width: 100px;
    font-family: Montserrat;
    font-size: 25px;
    padding-left: 2px;
    height: 45px;
    position: relative;
    left:  648px;
    bottom: 1500px;
    background-color: black;
    color: white;
    border:black;
    text-decoration: none;
}
.balance-button-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.balance-button {
    width: 10px;
    font-family: Montserrat;
    font-size: 25px;
    padding-left: 2px;
    height: 45px;
    position: relative;
    left:  614px;
    bottom: 1377px;
    background-color: black;
    color: white;
    border:black;
    text-decoration: none;
}
.tree-button-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tree-button {
    width: 265px;
    font-family: Montserrat;
    font-size: 25px;
    padding-left: 20px;
    height: 45px;
    position: relative;
    left: 5px;
    bottom: 286px;
    background-color: black;
    color: white;
    border:black;
    text-decoration: none;
}
.medical-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.medical-info {
    width: 187px;
    height: 45px;
    position: relative;
    font-family: Montserrat;
    font-size: 25px;
    right: 292px;
    bottom: 470px;
    background-color: black;
    color: white;
    border: black;
}
.lawyers-button-parent {
display: flex;
align-items: center;
justify-content: center;
}

.lawyers-button {
    position: relative;
    bottom: 693px;
    font-family: Montserrat;
    color: white;
    left:260px;
    font-size: 25px;
    padding-left: 10px;
    background-color: black;
    color: white;
    border:black;
}
.doctors-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.doctors-button {
    font-family: Montserrat;
    font-size: 25px;
    padding-left: 30px;
    position: relative;
    right: 240px;
    bottom: 645px;
    background-color: black;
    color: white;
    border:black;
}


.flows-button-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flows-button {
    width: 10px;
    font-family: Montserrat;
    font-size: 25px;
    padding-left: 2px;
    height: 45px;
    position: relative;
    left:  700px;
    bottom: 1500px;
    background-color: black;
    color: white;
    border:black;
    text-decoration: none;
}
.remaining-buttons-parent {
    display: flex;
}
.applications-button-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.applications-button {
    width: 100px;
    font-family: Montserrat;
    font-size: 25px;
    padding-left: 2px;
    height: 45px;
    position: relative;
    left:  170px;
    bottom: 1078px;
    background-color: black;
    color: white;
    border:black;
    text-decoration: none;
}
.projects-button-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects-button {
    width: 120px;
    font-family: Montserrat;
    font-size: 25px;
    padding-left: 2px;
    height: 45px;
    position: relative;
    left:  960px;
    bottom: 1404px;
    background-color: black;
    color: white;
    border:black;
    text-decoration: none;
}
.templates-button-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.templates-button {
    width: 120px;
    font-family: Montserrat;
    font-size: 25px;
    padding-left: 20px;
    height: 45px;
    position: relative;
    left:  210px;
    bottom: 1414px;
    background-color: black;
    color: white;
    border:black;
    text-decoration: none;
}
.drive-button-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.drive-button {
    width: 120px;
    font-family: Montserrat;
    font-size: 25px;
    padding-left: 20px;
    height: 45px;
    position: relative;
    right:  190px;
    bottom: 1920px;
    background-color: black;
    color: white;
    border:black;
    text-decoration: none;
}
.network-one-button-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.network-one-button {
    width: 140px;
    font-family: Montserrat;
    font-size: 25px;
    padding-left: 2px;
    height: 45px;
    right: 10px;
    position: relative;
    bottom: 2110px;
    background-color: black;
    color: white;
    border:black;
    white-space: nowrap;
}
.network-two-button-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.network-two-button {
    width: 120px;
    font-family: Montserrat;
    font-size: 25px;
    padding-left: 2px;
    height: 45px;
    position: relative;
    background-color: black;
    color: white;
    border:black;
    text-decoration: none;
    right: 110px;
    bottom: 1960px;
    white-space: nowrap;
}
.wall-one-button-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wall-one-button {
    width: 120px;
    font-family: Montserrat;
    font-size: 25px;
    padding-left: 20px;
    height: 45px;
    position: relative;
    left:  330px;
    bottom: 2093px;
    background-color: black;
    color: white;
    border:black;
    text-decoration: none;
}
.wall-two-button-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wall-two-button {
    width: 120px;
    font-family: Montserrat;
    font-size: 25px;
    padding-left: 20px;
    height: 45px;
    position: relative;
    left: 147px;
    bottom: 1950px;
    background-color: black;
    color: white;
    border:black;
    text-decoration: none;
}
.social-media-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-media-button {
    width: 120px;
    font-family: Montserrat;
    font-size: 25px;
    padding-left: 2px;
    height: 45px;
    position: relative;
    left:  30px;
    bottom: 1250px;
    background-color: black;
    color: white;
    border:black;
    text-decoration: none;
    white-space: nowrap;
}
.analytics-button-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.analytics-button {
    width: 100px;
    font-family: Montserrat;
    font-size: 25px;
    padding-left: 2px;
    height: 45px;
    position: relative;
    right:  584px;
    bottom: 1260px;
    background-color: black;
    color: white;
    border:black;
    text-decoration: none;
}
.calendars-button-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendars-button {
    width: 100px;
    font-family: Montserrat;
    font-size: 25px;
    padding-left: 2px;
    height: 45px;
    position: relative;
    left:  128px;
    bottom:1080px;
    background-color: black;
    color: white;
    border:black;
    text-decoration: none;
}
.phone-button-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.phone-button {
    width: 100px;
    font-family: Montserrat;
    font-size: 25px;
    padding-left: 2px;
    height: 45px;
    position: relative;
    right:  40px;
    bottom: 1504px;
    background-color: black;
    color: white;
    border:black;
    text-decoration: none;
}
.messages-button-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.messages-button {
    width: 100px;
    font-family: Montserrat;
    font-size: 25px;
    padding-left: 2px;
    height: 45px;
    position: relative;
    right:  5px;
    bottom: 1504px;
    background-color: black;
    color: white;
    border:black;
    text-decoration: none;
}
.research-button-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.research-button {
    width: 120px;
    font-family: Montserrat;
    font-size: 25px;
    padding-left: 2px;
    height: 45px;
    position: relative;
    right:  133px;
    bottom: 1910px;
    background-color: black;
    color: white;
    border:black;
    text-decoration: none;
}

/*# sourceMappingURL=styles.chunk.css.map*/