.medical-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.medical-info {
    width: 187px;
    height: 45px;
    position: relative;
    font-family: Montserrat;
    font-size: 25px;
    display: flex;
    right: 303px;
    bottom: 455px;
    background-color: black;
    color: white;
    border: black;
}