.applied-sciences-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.applied-sciences-button {
    width: 187px;
    height: 45px;
    position: relative;
    font-family: Montserrat;
    font-size: 25px;
    left: 1109px;
    bottom: 1368px;
    background-color: black;
    color: white;
    border: black;
    white-space: nowrap;
}