.business-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.business-button {
    width: 187px;
    height: 45px;
    position: relative;
    font-family: Montserrat;
    font-size: 25px;
    left: 945px;
    bottom: 1713px;
    background-color: black;
    color: white;
    border: black;
}