.formal-sciences-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.formal-sciences-button {
    width: 187px;
    height: 45px;
    position: relative;
    font-family: Montserrat;
    font-size: 25px;
    left: 640px;
    bottom: 848px;
    background-color:transparent;
    color: white;
    border: black;
    white-space: nowrap;
}