.history-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.history-button {
    width: 187px;
    height: 45px;
    position: relative;
    font-family: Montserrat;
    font-size: 25px;
    left:738px;
    bottom: 679px;
    background-color:transparent;
    color: white;
    border: black;
}