.life-sciences-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.life-sciences-button {
    width: 187px;
    height: 45px;
    position: relative;
    font-family: Montserrat;
    font-size: 25px;
    left: 9px;
    bottom: 676px;
    background-color:transparent;
    color: white;
    border: black;
}