.math-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.math-button {
    width: 187px;
    height: 45px;
    position: relative;
    font-family: Montserrat;
    font-size: 25px;
    right: 180px;
    bottom: 332px;
    background-color: black;
    color: white;
    border: black;
}