.philosophy-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.philosophy-button {
    width: 187px;
    height: 45px;
    position: relative;
    font-family: Montserrat;
    font-size: 25px;
    right: 1100px;
    bottom: 673px;
    background-color:transparent;
    color: white;
    border: black;
}