.social-sciences-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-sciences-button {
    width: 187px;
    height: 45px;
    position: relative;
    font-family: Montserrat;
    font-size: 25px;
    right: 1390px;
    bottom: 1194px;
    background-color: black;
    color: white;
    border: black;
    white-space: nowrap;
}