.dashboard-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard-button {
    font-family: Montserrat;
    font-size: 25px;
    padding-left: 30px;
    position: relative;
    left: 23px;
    bottom: 2048px;
    background-color: black;
    color: white;
    border:black;
}

