.parent-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px blue solid;
}

.child-container {
    width: 1536px;
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px green solid;
}

.treeButton2 {
    width: 500px;
}