.consumer-image {
    top: 60px;
    position: relative;
    height: 2048px;
    width: 1540px;
}

.consumer-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}


.consumer-child {
    padding-top: 172px;
}