.tree-button-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tree-button {
    width: 265px;
    font-family: Montserrat;
    font-size: 25px;
    padding-left: 20px;
    height: 45px;
    position: relative;
    left: 5px;
    bottom: 286px;
    background-color: black;
    color: white;
    border:black;
    text-decoration: none;
}