.tree-button-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tree-button {
    width: 265px;
    font-family: Montserrat;
    font-size: 25px;
    padding-left: 20px;
    height: 45px;
    position: relative;
    right: 160px;
    bottom: 209px;
    background-color: black;
    color: white;
    border:black;
    text-decoration: none;
    white-space: nowrap;
    background: linear-gradient(to bottom, rgb(212,212,245), rgb(47, 164, 231));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}