.business-applications-button-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.business-applications-button {
    width: 100px;
    font-family: Montserrat;
    font-size: 25px;
    padding-left: 2px;
    height: 45px;
    position: relative;
    left:  1410px;
    bottom: 1430px;
    background-color: black;
    color: white;
    border:black;
    text-decoration: none;
}