.business-doctors-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.business-doctors-button {
    font-family: Montserrat;
    font-size: 25px;
    padding-left: 30px;
    position: relative;
    right: 1003px;
    bottom: 1468px;
    background-color: black;
    color: white;
    border:black;
}

