.business-tree-button-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.business-tree-button {
    width: 100px;
    font-family: Montserrat;
    font-size: 25px;
    padding-left: 2px;
    height: 45px;
    position: relative;
    left: 893px;
    bottom: 1752px;
    background-color: black;
    color: white;
    border:black;
    text-decoration: none;
    white-space: nowrap;
}