.mailbox-button-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mailbox-button {
    width: 120px;
    font-family: Montserrat;
    font-size: 25px;
    padding-left: 2px;
    height: 45px;
    position: relative;
    left:  121px;
    bottom: 1418px;
    background-color: black;
    color: white;
    border:black;
    text-decoration: none;
}